*.o
*.a
*.exe
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.svg

# build specific
src/*/misc/version.go

lib2inpx-*.7z
lib2inpx-*.zip
lib2inpx-*.xz
lib2inpx-*.gz

bin/
build/
[Bb]in_*/
[Dd]ebug*/
[Rr]elease*/

lib2inpx-*.tar.xz

mariadb-??.?.*-linux-systemd-x86_64.tar.gz
mariadb-??.?.*-linux-systemd-x86_64/**
mariadb-??.?.*-linux-systemd-x86.tar.gz
mariadb-??.?.*-linux-systemd-x86/**
mariadb-??.?.*-linux-glibc_*-x86_64.tar.gz
mariadb-??.?.*-linux-glibc_*-x86_64/**
mariadb-??.?.*-linux-glibc_*-x86.tar.gz
mariadb-??.?.*-linux-glibc_*-x86/**
mariadb-??.?.*-win32.zip
mariadb-??.?.*-win32/**
mariadb-??.?.*-winx64.zip
mariadb-??.?.*-winx64/**

mysql-?.?.*-linux-glibc*-x86_64.tar.gz
mysql-?.?.*-linux-glibc*-x86_64/**
mysql-?.?.*-linux-glibc*-i686.tar.gz
mysql-?.?.*-linux-glibc*-i686/**
mysql-?.?.*-win32.zip
mysql-?.?.*-win32/**
mysql-?.?.*-winx64.zip
mysql-?.?.*-winx64/**
